body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('images/360_F_882207522_8LeNbuFN3MNRThdopJdJIB4dp0YWHfWA.jpg'); /* Update this path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  #name {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  #weather-container {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
 
  }
  
  #location-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  #location-input {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    font-size: 1rem;
    border: none;
    background: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  #weather-data {
    font-size: 1rem;
  }
  